<footer>
	<!--style type="text/css">
		

		footer {
			font-family: 'Saira', sans-serif;
			padding: 1.618em 0 0;
			padding-left: 2em;
 			margin-bottom: 3.631em;
 			clear: both;
			position: fixed;
			z-index: 100;/* set this to something high*/
			background-color:none; /* so you can see it is a block */
			min-width:100%; /* play with this too, and asdjust margins. check in IE - you may have to set a width rather then min-width*/
			}


	</style-->

	<div class= footer>© Kreagan — 2017</div>
</footer>