<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Kreagan">
	<meta property="og:description" content="Welcome.">
	<meta property="og:image" content="/static/css/img/sea.jpg">
	<meta property="og:url" content="https://kreagan.com">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Saira&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/site.css">
</head>
