---
---

@import "{{ site.theme }}";

	body {
			background-image: url({{site.url}}/assets/img/sea.jpg);
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-blend-mode: lighten;
		}

