
	.golf {
		background-image: url(img/nuble.jpg);
				//
				// /* The image used */
		    // background-image: url(img/nuble.jpg);
				//
		    // /* Full height */
		    // height: 100%;
				//
		    // /* Center and scale the image nicely */
		    // background-position: center;
		    // background-repeat: no-repeat;
		    // background-size: cover;
				//
		    // /* Add z-index to see if that set background behind header */
		    // position: relative;
		    // // z-index: -1;

		}

	h2 {
		color: charcoal;
		padding: 10px 10px 10px 10px;
		background-color: white;

		}
