
	html { 

		    /* The image used */
		    background-image: url(img/sea.jpg);

		    /* Full height */
		    height: 100%; 

		    /* Center and scale the image nicely */
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: cover;

		    /* Add z-index to see if that set background behind header */
		    position: relative;
		    z-index: -1;
			
		}

	header {
			font-family: 'Saira', sans-serif;
			padding: 1.618em 0 0;
			padding-left: 2em;
 			margin-bottom: 3.631em;
 			clear: both;
			position: fixed;
			z-index: 100;/* set this to something high*/
			background-color:none; /* so you can see it is a block */
			min-width:100%; /* play with this too, and asdjust margins. check in IE - you may have to set a width rather then min-width*/
		}
	
	body {
   			height: 100%;
   			font-family: 'Roboto', sans-serif;

   		}

   	footer {
   			font-family: 'Saira', sans-serif;
   			background-color: 'white'; 
   		}
