<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="bg"></div>


    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>

        {% include footer.html %}
      </main>
    <!--script src="/static/js/jquery-3.2.0.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/scripts.js"></script-->
  </body>

</html>